/* This is the styling sheet for this project written using CSS3 technology... */

/* This is some general stylings written for whole project... */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #008376;
  font-family: "Young serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* This is for heading or the title... */
h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
}

/* This is for parent container... */
.container {
  width: 500px;
}

/* This is for parent container... */
textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  font-size: 16px;
  margin: 0 0 20px;
}

/* This is for tags or choices that are going to be displayed under the textarea... */
.tag {
  background-color: #07ffe6;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

/* This is for tag when it gets highlighted... */
.tag.highlight {
  background-color: rgb(4, 0, 255);
  color: #00ffe5;
}
